<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://condescending-leakey-e78849.netlify.com">
      <span class="logo-text">
        <span>Transfer</span>
        <i> go</i>
      </span>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start"> </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item" href="https://condescending-leakey-e78849.netlify.com">
          Home
        </a>

        <a class="navbar-item" href="https://condescending-leakey-e78849.netlify.com">
          Documentation
        </a>

        <div class="field is-grouped">
          <p class="control">
            <a class="button is-white" href="https://github.com/CodebyOmar/transfer-go-api">
              <span class="icon">
                <font-awesome-icon :icon="['fab','github']"/>
              </span>
              <span>GitHub</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>