<div class="home-banner">
  <div class="container">
    <Navbar></Navbar>

    <div class="columns intro-container is-desktop">
      <div class="column home-banner-left-col">
        <h1 class="title intro-title is-1">Send money to anyone, using their phone numbers.</h1>
        <p>Transfer funds to your family and friends without needing to have thier account numbers. The funds is sent to their phone numbers, and they claim it.</p>
      </div>

      <div class="column home-banner-right-col">
        <div class="box detail-box">
          <div class="form-title">
            <h1 class="sub-title">Get started with easy transfers.</h1>
          </div>

          <div class="field">
            <p class="control">
              <input class="input is-medium" type="text" placeholder="Recipient's name">
            </p>
          </div>

          <div class="field">
            <p class="control">
              <input class="input is-medium" type="text" placeholder="Recipient's phone number">
            </p>
          </div>

          <div class="field">
            <p class="control">
              <input class="input is-medium" type="number" placeholder="Amount">
            </p>
          </div>

          <div class="field">
            <p class="control">
              <div class="select is-medium is-fullwidth">
                <select>
                  <option value="NGN">NGN</option>
                  <option value="GHS">GHS</option>
                  <option value="KES">KES</option>
                  <option value="USD">USD</option>
                </select>
              </div>
            </p>
          </div>

          <a class="button is-primary is-fullwidth is-medium" @click="initPay">
            <span>Transfer</span>
            <span class="icon">
              <font-awesome-icon icon="arrow-right"/>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <payModal :show="showPopup" @close="closePopUp"/>
</div>