<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <img src='../../../assets/img/logo-mini-dark.png'/>
      <p>Powered by ravepay.</p>        
    </div>
  </div>

  <div class="level-item has-text-centered">
    <div>
      <p>
        Made with <font-awesome-icon icon="heart" color="#2F365F"/> by <a href="https://codebyomar.me">codebyomar</a>
      </p>
      <span class="contact-icons"><font-awesome-icon :icon="['fab', 'twitter']" size='lg'/></span>
      <span class="contact-icons"><font-awesome-icon :icon="['fab', 'github']" size='lg'/></span>
    </div>
  </div>
</nav>
