<div :class="modalClasses">
  <div class="modal-background"></div>

  <div style="display: flex;flex-direction: column">
    <div class="has-text-centered is-error" style="font-weight: 700; z-index:900;" v-if="showErr">{{error}}</div>
    
    <transition name="zoom-in">
      <card-details 
        v-if="stage === 'card'" 
        @submitted="sendCard" 
        @error="displayError" 
        :amount="data.amount"
        :transfering="transfering"/>
    </transition>

    <transition name="zoom-in">
      <verify-pin 
        v-if="stage === 'PIN'" 
        @submitted="verifyPin" 
        @error="displayError" 
        :verifying="verifying_pin"/>
    </transition>

    <transition name="zoom-in">
      <verify-otp 
        v-if="stage === 'otp'" 
        @submitted="verifyOtp" 
        @error="displayError"
        :verifying="verifying_otp"
        :successful="otp_success"
        :message-success="message_success"/>
    </transition>

    <transition name="zoom-in">
      <billing-info 
        v-if="stage === 'NOAUTH_INTERNATIONAL' || stage === 'AVS_VBVSECURECODE'"
        @submitted="sendBillingInfo"
        @error="displayError"
        :billing="billing"/>
    </transition>
  </div> 

  <button class="modal-close is-large" aria-label="close" @click="close"></button>
</div>